body{
  position: relative;
}

.card {
  background-color:#a93a37;

}

.card-img-top{
  width:100px;

}

.google-map{
  width: 500px;
  height: 500px;
  margin:50px auto;
}

.bottom-logo{
  margin-left:5%;
  max-width: 50%;
  z-index: -100;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
#creator{
  width: 80%;
  margin: 0 auto;
}