body {
  position: relative;
  font-size: 14px;
}

#about {
  height: 100vh;
  background-image: url("https://s3-eu-west-1.amazonaws.com/meetoeat/mainBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:0;
  padding:0;
  color:#df524f;
}

#about-content {
  font-family: 'Gloria Hallelujah', cursive;
}

.indent {
  padding-left: 40px;
}

.btn btn-primary {
  display:inline-block;
}

h6 {
  font-size: 90%;
}

.card {
  background-color:#a93a37;
  color:#c4b8b8;
}

.card-img-top {
  width:100px;

}

.card-decoration {
  position: fixed;
  max-width:40%;
}

.google-map {
  width: 500px;
  height: 500px;
  margin:50px auto;
}

.bottom-logo {
  margin-left:5%;
  max-width: 40%;
  z-index: -100;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#creator {
  width: 80%;
  margin: 0 auto;
}
